body {
    background: url(backgroud.jpg) no-repeat;
    background-size: cover;
    height: 580px;
    text-align: center;
}

.frmsearch {
    margin-top: 50px;
}

.frmsearch input {
    height: 40px;
}

.frmsearch button {
    height: 40px;
    background-color: blue;
    border: blue;
}