<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="index.css">
  <link rel="stylesheet" href="item-template.css" type="text/css">

  <style>
    /* Remove the navbar's default rounded borders and increase the bottom margin */ 
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }
    
    /* Remove the jumbotron's default bottom margin */ 
     .jumbotron {
      margin-bottom: 0;
    }
   
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>

</head>

<body>
  <% include header %>

  <div class="container">

    <form class="form-inline frmsearch" action="http://localhost:8081/search_result" method="post">
      <input type="text" class="form-control" size="60" placeholder="Car Name..." name="txtsearch">
      <button type="submit" class="btn btn-danger">Search</button>
      <!-- <input type="submit" value="Search"> -->
    </form>

    <% cars.forEach(function(car){ %>
    <a class="col-sm-4 item" href="#">
      <div class="item-header">
        <h3>
          <%= car.carname %>
        </h3>
        <h5>
          <%= car.version %>
        </h5>
      </div>
      <div class="item-content">
        <p> Content </p>
      </div>
    </a>
    <% })%>

    <script>
      $(document).ready(function () {
        if (<%= count %> > 0) {
        $(".frmsearch").css("margin-top", "-20px");
      } else {
        $(".frmsearch").css("margin-top", "200px");
      }
      });
    </script>
  </div>
  <br><br>

</body>

</html>