<html>
<header>

</header>

<body>
    <form action="/testupload" method="POST">
        <input type="text" name="name"><label for="name"></label>
        <input type="text" name="pass"><label for="pass"></label>
        <input type="file" name="image">
        <button type="submit">Submit</button>
    </form>
</body>

</html>