<html>
<header>

</header>

<body>
    <form action="/api/getimage" method="GET">
        <label for="imgname">Image name:</label>
        <input type="text" name="imgname">
        <button type="submit">submit</button>
    </form>
</body>

</html>